$size: 20vmin;
$animation-duration: 10s;

@mixin colors($color: 0) {
    color: hsla($color, 100%, 60%, 1);
    background: linear-gradient(135deg,
            hsla($color, 100%, 50%, .4),
            hsla($color, 100%, 30%, .05));
}

.Cube {

    .container {
        position: relative;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        transform-style: preserve-3d;

        #cube {
            position: relative;
            width: $size;
            animation: spin-cube $animation-duration linear infinite;
            transform-style: preserve-3d;
            
            .face {
                position: absolute;
                width: $size;
                height: $size;
                line-height: $size;
                text-align: center;
                transition: .5s;
                transform-style: preserve-3d;
            }
        
            .back {
                transform: translateZ(-$size / 2) rotateY(180deg);
                @include colors(0);
            }
            
            .right {
                transform: rotateY(-270deg) translateX($size/2);
                transform-origin: top right;
                @include colors(60);
            }
            
            .left {
                transform: rotateY(270deg) translateX(-$size / 2);
                transform-origin: center left;
                @include colors(120);
            }
            
            .top {
                transform: rotateX(-90deg) translateY(-$size / 2);
                transform-origin: top center;
                @include colors(180);
            }
            
            .bottom {
                transform: rotateX(90deg) translateY($size / 2);
                transform-origin: bottom center;
                @include colors(240);
            }
            
            .front {
                transform: translateZ($size / 2);
                @include colors(300);
            }
        }
    }
}
// Animation definitions 

@keyframes spin-cube {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(50px);
    }

    100% {
        transform: rotateX(1turn) rotateY(1turn) rotateZ(0) translateZ(50px);
    }
}

@keyframes front {
    0% {
        transform: rotateZ(0) rotateY(0) rotateX(0);
    }

    100% {
        transform: rotateZ(0) rotateY(-1turn) rotateX(-1turn);
    }
}

@keyframes back {
    0% {
        transform: rotateZ(0) rotateY(180deg) rotateX(0)
    }

    100% {
        transform: rotateZ(0) rotateY(180deg - 1turn) rotateX(-1turn);
    }
}

@keyframes top {
    0% {
        transform: rotateZ(0) rotateY(0) rotateX(90deg);
    }

    100% {
        transform: rotateZ(-1turn) rotateY(0) rotateX(90deg - 360deg);
    }
}

@keyframes bottom {
    0% {
        transform: rotateZ(0) rotateY(0) rotateX(-90deg);
    }

    100% {
        transform: rotateZ(1turn) rotateY(0) rotateX(-90deg - 360deg);
    }
}

@keyframes left {
    0% {
        transform: rotateZ(0) rotateY(-270deg) rotateX(0)
    }

    100% {
        transform: rotateZ(0) rotateY(-270deg - 1turn) rotateX(-1turn);
    }
}

@keyframes right {
    0% {
        transform: rotateZ(0) rotateY(270deg) rotateX(0)
    }

    100% {
        transform: rotateZ(0) rotateY(270deg - 1turn) rotateX(-1turn);
    }
}